:root {
    --primary: hsla(160, 100%, 37%, 1);
    --error: #d06161;
}

#app {
    min-height: 100vh;
}

.app-btn-primary {
    background-color: var(--primary);
    color: var(--vt-c-text-light-1);
    cursor: pointer;
    justify-content: center;
    padding: calc(.5em - 1px) 0.5rem;
    text-align: center;
    white-space: nowrap;
    border-radius: .375em;
    font-size: medium;
    -webkit-box-shadow: 0 0 13px -8px rgba(0,0,0,0.37);
    box-shadow: 0 0 13px -8px rgba(0,0,0,0.37);
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border: solid var(--primary) 2px;
}


.app-btn-warning {
    background-color: var(--color-background);
    color: var(--error);
    cursor: pointer;
    justify-content: center;
    padding: calc(.5em - 1px) 0.5rem;
    text-align: center;
    white-space: nowrap;
    border-radius: .375em;
    font-size: medium;
    -webkit-box-shadow: 0 0 13px -8px rgba(0,0,0,0.37);
    box-shadow: 0 0 13px -8px rgba(0,0,0,0.37);
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border: solid var(--error) 2px;
}

.app-btn-primary:hover {
    filter: brightness(115%);
}

.app-btn-primary > img, .app-btn > img {
    height: 20px;
}

.app-btn, .app-btn-primary, .app-btn-warning {
    user-select: none;
}

.app-btn {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    background-color: var(--color-background);
    border: solid var(--color-border) 2px;
    color: var(--color-text);
    cursor: pointer;
    justify-content: center;
    padding: calc(.3em - 1px) 0.5em;
    text-align: center;
    white-space: nowrap;
    border-radius: .375em;
    font-size: medium;
    -webkit-box-shadow: 0 0 13px -8px rgba(0,0,0,0.37);
    box-shadow: 0 0 13px -8px rgba(0,0,0,0.37);
}

.app-btn:hover, .app-btn-warning:hover {
    background-color: var(--color-background-mute);
}

.app-input {
    background-color: var(--color-background);
    color: var(--color-text);
    border-radius: .375em;
    padding: 0.3rem;
    -webkit-box-shadow: 0 0 13px -8px rgba(0,0,0,0.37);
    box-shadow: 0 0 13px -8px rgba(0,0,0,0.37);
    transition: 100ms;
    border: solid var(--color-border) 2px;
}

.app-input:focus {
    outline: solid hsla(160, 100%, 37%, 1) 2px;
    transition: 100ms;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

::-moz-selection { /* Code for Firefox */
    color: var(--vt-c-text-light-1);
    background: var(--primary)
}

::selection {
    color: var(--vt-c-text-light-1);
    background: var(--primary)
}

.bgpattern {
    background-color: var(--bgcolor);
    background-image: var(--bgimage);
}
